<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ブログ一覧</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h1>ブログ一覧</h1>

<a href="//blog//form">ブログ登録</a >
<br>
<a href="/logout">ログアウト</a >

<table border="1">
    <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th>本文</th>
        <th>操作</th>
    </tr>

    <tr th:each="blog : ${blogList}">
        <td th:text="${blog.id}"></td>
        <td th:text="${blog.title}"></td>
        <td th:text="${blog.content}"></td>
        <td>
            <a th:href="@{/blog/edit/{id}(id=${blog.id})}">編集</a >
            <a th:href="@{/blog/delete/{id}(id=${blog.id})}">削除</a >
        </td>
    </tr>
</table>

</body>
</html>