<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ブログ編集</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h1>ブログ編集</h1>

<form th:action="@{/blog/update}" th:object="${blog}" method="post">

    <input type="hidden" th:field="*{id}">

    <div>
        <label>タイトル：</label>
        <input type="text" th:field="*{title}">
    </div>

    <div>
        <label>本文：</label>
        <textarea th:field="*{content}"></textarea>
    </div>

    <button type="submit">更新</button>

</form>

<a href=" ">一覧へ戻る</a >

</body>
</html>