<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ログイン</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
  <h1>ログイン画面</h1>

  <form th:action="@{/login}" method="post">
    <div>
      <label>メールアドレス</label>
      <input type="email" name="email">
    </div>

    <div>
      <label>パスワード</label>
      <input type="password" name="password">
    </div>

    <button type="submit">ログイン</button>
  </form>

  <p>
    <a href=" ">会員登録はこちら</a >
  </p >
</body>
</html>